*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #252D37;
}
a{
    text-decoration: none;
    color: inherit;
}


.header{
    background: url(/images/header__bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
}
.container{
    max-width: 1090px;
    margin: 0 auto;
    padding: 0 0;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 37px;
}

.logo__container{
    display: flex;
    justify-content: space-between;
}

.logo__link{
    margin-right: 25px;
}

.menu{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.menu__list{
    display: flex;
    flex-direction: row;
}
.menu__item{
    margin-right: 40px;
}
.phone{
    color: #FFFFFF;
    text-align: right;
}
.phone_lifecell,
.phone_vodafone{
    font-size: 12px;
    line-height: 15px;
}
.bold__number{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
}

.title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 110%;
    color: #00FEFF;

    max-width: 568px;
    margin-top: 76px;
    margin-bottom: 56px;
}
.header__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 103.32%;
    color: #00FEFF;
}
.header__service {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 28px;
}
.header__text-p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.header__btn {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #002047;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: #00FEFF;
    padding: 15px 22px 14px;
}
.header__btn-arrow {
    padding-left: 11px;
}
.text_we {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: right;
    color: #FFFFFF;
    max-width: 460px;
}

.bold__price{
    font-family: Montserrat;
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
}
.btn__p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 67px;
}

.about{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 90px;
    margin-bottom: 60px;
}
.main__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #001E42;
    margin-right: 70px;
    white-space: nowrap;
    max-width: 186px;
}
.about__text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #252D37;
    max-width: 821px;
}

.service__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #001E42;
    margin-bottom: 52px;
}

.direction__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 54px 67px;
}
.direction__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 63px;
}

.description__text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #001E42;
}
.favor__img1,
.favor__img4{
    margin-right: 26px;
}
.favor__img2,
.favor__img5{
    margin-right: 25px; 
}
.favor__img3,
.favor__img6{
    margin-right: 30px;
}
.about__description {
    margin-bottom: 125px;
}
.description__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 31px;
}
.descroption__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 42px;
}
.description__content {
    max-width: 529px;
}
.goal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 132px;
}
.inner__goal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.goal__img {
    margin-right: 13px;
    margin-left: 78px;
}
.goal__title {
    font-size: 48px;
    line-height: 115%;
    color: #001E42;
    max-width: 174px;
    
}
.goal__text {
    max-width: 521px;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 130%;
    color: #001E42;
    font-weight: 700;
}
.caps{
    color: #00FEFF;
    position: absolute;
    z-index: -100;
    font-weight: bold;
    font-size: 96px;
    line-height: 117px;
}
.numbers{
    display: flex;
    justify-content: space-between;
    margin-bottom: 115px;
}
.rel_sh{
    position: relative;
    max-width: 343px;
}
.capasity__text1{
    align-items: center;
    padding-top: 47px;
    padding-left: 15px;
    font-weight: 700;
}
.capasity__text2{
    align-items: center;
    padding-top: 47px;
    padding-left: 30px;
    font-weight: 700;
}
.capasity__text3{
    align-items: center;
    padding-top: 47px;
    padding-left: 30px;
    font-weight: 700;
}


.prices__title {
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 25px;
}
.inner_container {
    display: flex;
    justify-content: space-between;
}
.inner__prices {
    max-width: 529px;
}
.price__text {
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    margin-bottom: 35px;
}
.price__text-small {
    margin-bottom: 25px;
}
.button__flex {
    display: flex;
}
.abs_btn{
    position: relative;
}
.btn__price1{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: 2px solid #001E42;
    padding: 17px 54px 18px 22px;
    letter-spacing: 0.05em;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.btn__price2{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border: 2px solid #001E42;
    padding: 17px 56px 18px 22px;
    letter-spacing: 0.05em;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.btn__price1{
    margin-right: 24px;
}
.btn__price1:hover,
.btn__price2:hover{
    background-color: #F2F2F2;
    outline: 4px solid #F2F2F2;
    cursor: pointer;
}
.price__cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.card_1 {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid #001E42;
    text-align: center;
    max-width: 259px;
    margin-right: 12px;
}
.card_2 {
    border: 2px solid #001E42;
    text-align: center;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid #001E42;
    max-width: 259px;
}
.down__arrow{
    position: absolute;
}
.pruce1{
    top: 3px;
    right: 45px;
}
.pruce2{
    top: 3px;
    right: 25px;
}
.card__text{
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #001E42;
}
.card__title4 {
    font-weight: bold;
    font-size: 26px;
    line-height: 140%;
    text-transform: uppercase;
}
.card__title3 {
    font-size: 70px;
    line-height: 115%;
    color: #001E42;
}
.clients{
    margin-top: 151px;
    margin-bottom: 25px;
}
.clients__title{
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 25px;
}
.clients__list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.clients__item{
    max-width: 162px;
    max-height: 110px;
}