*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #252D37;
}
a{
    text-decoration: none;
    color: inherit;
}


.header{
    background: url(/images/header__bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
}
.container{
    max-width: 1090px;
    margin: 0 auto;
    padding: 0 10px;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 37px;
}

.logo__container{
    display: flex;
    justify-content: space-between;
}

.logo__link{
    margin-right: 25px;
}

.menu{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.menu__list{
    display: flex;
    flex-direction: row;
}
.menu__item{
    margin-right: 40px;
}
.phone{
    color: #FFFFFF;
}
.bold__number{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
}

.title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 110%;
    color: #00FEFF;

    max-width: 568px;
    margin-top: 76px;
    margin-bottom: 56px;
}
.header__title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 103.32%;
    color: #00FEFF;
}
.header__service {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 28px;
}
.header__text-p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.header__btn {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #002047;
    transform: matrix(1, 0, 0, 1, 0, 0);
    background: #00FEFF;
    padding: 15px 22px 14px;
}
.header__btn-arrow {
    padding-left: 11px;
}
.text_we {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: right;
    color: #FFFFFF;
    max-width: 460px;
}

.bold__price{
    font-family: Montserrat;
    font-size: 36px;
    line-height: 50px;
    font-weight: 700;
}
.btn__p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 67px;
}

.about{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 90px;
    margin-bottom: 60px;
}
.main__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #001E42;
    margin-right: 70px;
    white-space: nowrap;
    max-width: width 186px;
}
.about__text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #252D37;
    max-width: 821px;
}

.service__title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    color: #001E42;
    margin-bottom: 52px;
}

.direction__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 54px 67px;
}
.direction__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 63px;
}

.description__text{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    color: #001E42;
}
.favor__img1,
.favor__img4{
    margin-right: 26px;
}
.favor__img2,
.favor__img5{
    margin-right: 25px; 
}
.favor__img3,
.favor__img6{
    margin-right: 30px;
}
.about__description {
    margin-bottom: 125px;
}
.description__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 31px;
}
.descroption__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 42px;
}
.description__content {
    max-width: 529px;
}
.goal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 132px;
}
.inner__goal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.goal__img {
}
.goal__title {
    font-size: 48px;
    line-height: 115%;
    color: #001E42;
    max-width: 174px;
    
}
.goal__text {
    max-width: 521px;
    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 130%;
    color: #001E42;
    font-weight: 700;
}